# Logs
*.log
druid_restart.log

# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Docker volumes and data
data/
segments/

# IDE files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
